@import "tailwindcss";

@theme {
  --color-theme-black: #000;
  --color-theme-white: #fff;
  --color-theme-red: #E40037;
  --font-poppins: Poppins, sans-serif;
}

/* Define the glow animation */
@keyframes glow {
  0% {
    background-position: -200%;
  }

  100% {
    background-position: 200%;
  }
}

/* Apply the animation to the text */
.animate-text-glow {
  background-image: linear-gradient(90deg, transparent, #fff, transparent);
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: glow 10s linear infinite reverse;
}