@import "tailwindcss";

@theme {
  --color-theme-black: #000;
  --color-theme-white: #fff;
  --color-theme-red: #E40037;
  --font-poppins: Poppins, sans-serif;
}

/* Define the glow animation */
@keyframes glow {
  0% {
    background-position: -200%;
  }

  100% {
    background-position: 200%;
  }
}

/* Apply the animation to the text */
.animate-text-glow {
  background-image: linear-gradient(90deg, transparent, #fff, transparent);
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: glow 10s linear infinite reverse;
}

* {
  cursor: none;
}

.custom-hover {
  position: relative;
  transition: color 0.2s ease-in-out;
}

.custom-hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -2px;
  left: 0;
  background: #E40037;
  transition: transform 0.3s ease-in-out;
  transform: scaleX(0);
}

.custom-hover:hover::after {
  transform: scaleX(1);
}

button:hover,
a:hover {
  color: #E40037 !important;
  text-shadow: 0px 0px 10px #E40037;
}